{% extends 'base.html' %} 

{% block content %} 

<h2>{{ user.username }}</h2>

<ul>
    <li>{{ user.first_name }} {{ user.last_name }}</li>
    <li>{{ user.email }}</li>
</ul>

<h3>Feedback</h3>

<ul>
    {% for feedback in user.feedback %} 
    <li>
        <b>{{ feedback.title }}</b>
        {{ feedback.content }}
    </li>
    <form>
        {{form.hidden_tag()}}
        <button formmethod="GET" formaction="/feedback/{{feedback.id}}/edit">Edit</button>
        <button formmethod="POST" formaction="/feedback/{{feedback.id}}/delete">Delete</button>
    </form>
    {% endfor %} 
</ul>

<p>
    <a href="/users/{{user.username}}/feedback/add"><button>Add Feedback</button></a>
</p>


<form>
    <button formaction="/users/{{user.username}}/delete" formmethod="POST">Delete User</button>
</form>

{% endblock %} 